#DIV_1 {
    block-size: 547.734px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 547.734px;
    inline-size: 879px;
    padding-block-end: 65px;
    perspective-origin: 439.5px 273.859px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 439.5px 273.867px;
    user-select: none;
    width: 879px;
    background: rgb(229, 228, 213) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 0px 65px;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    block-size: 482.734px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    height: 482.734px;
    inline-size: 835.047px;
    margin-inline-end: 21.9844px;
    margin-inline-start: 21.9688px;
    padding-block-end: 26px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 417.516px 241.359px;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 417.523px 241.367px;
    user-select: none;
    width: 835.047px;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    margin: 0px 21.9844px 0px 21.9688px;
    outline: rgb(33, 37, 41) none 0px;
    padding: 0px 15px 26px;
}/*#DIV_2*/

#DIV_2:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    align-items: center;
    block-size: 456.734px;
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: flex;
    height: 456.734px;
    inline-size: 805.047px;
    justify-content: center;
    padding-block-start: 24.1406px;
    perspective-origin: 402.516px 228.359px;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    transform-origin: 402.523px 228.367px;
    user-select: none;
    width: 805.047px;
    border: 0px none rgb(33, 37, 41);
    flex-flow: column nowrap;
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
    padding: 24.1406px 0px 0px;
}/*#DIV_3*/

#DIV_3:after {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    border-block-end-color: rgb(33, 37, 41);
    border-block-start-color: rgb(33, 37, 41);
    border-inline-end-color: rgb(33, 37, 41);
    border-inline-start-color: rgb(33, 37, 41);
    box-sizing: border-box;
    caret-color: rgb(33, 37, 41);
    color: rgb(33, 37, 41);
    column-rule-color: rgb(33, 37, 41);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(33, 37, 41);
    text-emphasis-color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(33, 37, 41);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(33, 37, 41) none 0px;
}/*#DIV_3:before*/

#A_4 {
    block-size: 102.844px;
    border-block-end-color: rgb(185, 48, 6);
    border-block-start-color: rgb(185, 48, 6);
    border-inline-end-color: rgb(185, 48, 6);
    border-inline-start-color: rgb(185, 48, 6);
    box-sizing: border-box;
    caret-color: rgb(185, 48, 6);
    color: rgb(185, 48, 6);
    column-rule-color: rgb(185, 48, 6);
    display: block;
    height: 102.844px;
    inline-size: 129px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 64.5px 51.4219px;
    text-align: center;
    text-decoration: none solid rgb(185, 48, 6);
    text-emphasis-color: rgb(185, 48, 6);
    text-size-adjust: 100%;
    transform-origin: 64.5px 51.4219px;
    user-select: none;
    width: 129px;
    border: 0px none rgb(185, 48, 6);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(185, 48, 6) none 0px;
    transition: all 0.3s ease 0s;
}/*#A_4*/

#A_4:after {
    border-block-end-color: rgb(185, 48, 6);
    border-block-start-color: rgb(185, 48, 6);
    border-inline-end-color: rgb(185, 48, 6);
    border-inline-start-color: rgb(185, 48, 6);
    box-sizing: border-box;
    caret-color: rgb(185, 48, 6);
    color: rgb(185, 48, 6);
    column-rule-color: rgb(185, 48, 6);
    text-align: center;
    text-decoration: none solid rgb(185, 48, 6);
    text-emphasis-color: rgb(185, 48, 6);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(185, 48, 6);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(185, 48, 6) none 0px;
}/*#A_4:after*/

#A_4:before {
    border-block-end-color: rgb(185, 48, 6);
    border-block-start-color: rgb(185, 48, 6);
    border-inline-end-color: rgb(185, 48, 6);
    border-inline-start-color: rgb(185, 48, 6);
    box-sizing: border-box;
    caret-color: rgb(185, 48, 6);
    color: rgb(185, 48, 6);
    column-rule-color: rgb(185, 48, 6);
    text-align: center;
    text-decoration: none solid rgb(185, 48, 6);
    text-emphasis-color: rgb(185, 48, 6);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(185, 48, 6);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(185, 48, 6) none 0px;
}/*#A_4:before*/

#IMG_5 {
    block-size: 102.844px;
    border-block-end-color: rgb(185, 48, 6);
    border-block-start-color: rgb(185, 48, 6);
    border-inline-end-color: rgb(185, 48, 6);
    border-inline-start-color: rgb(185, 48, 6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2.98033px;
    caret-color: rgb(185, 48, 6);
    color: rgb(185, 48, 6);
    column-rule-color: rgb(185, 48, 6);
    cursor: pointer;
    height: 102.844px;
    inline-size: 90px;
    margin-inline-end: 39px;
    max-inline-size: 100%;
    max-width: 100%;
    perspective-origin: 45px 51.4219px;
    text-align: center;
    text-decoration: none solid rgb(185, 48, 6);
    text-emphasis-color: rgb(185, 48, 6);
    text-size-adjust: 100%;
    transform-origin: 45px 51.4219px;
    user-select: none;
    vertical-align: middle;
    width: 90px;
    animation: 1s ease 0s infinite normal none running shadow-pulse;
    border: 0px none rgb(185, 48, 6);
    font: 13px / 19.5px Raleway, sans-serif;
    margin: 0px 39px 0px 0px;
    outline: rgb(185, 48, 6) none 0px;
}/*#IMG_5*/

#IMG_5:after {
    border-block-end-color: rgb(185, 48, 6);
    border-block-start-color: rgb(185, 48, 6);
    border-inline-end-color: rgb(185, 48, 6);
    border-inline-start-color: rgb(185, 48, 6);
    box-sizing: border-box;
    caret-color: rgb(185, 48, 6);
    color: rgb(185, 48, 6);
    column-rule-color: rgb(185, 48, 6);
    cursor: pointer;
    overflow-clip-margin: 0px;
    text-align: center;
    text-decoration: none solid rgb(185, 48, 6);
    text-emphasis-color: rgb(185, 48, 6);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(185, 48, 6);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(185, 48, 6) none 0px;
    overflow: visible;
}/*#IMG_5:after*/

#IMG_5:before {
    border-block-end-color: rgb(185, 48, 6);
    border-block-start-color: rgb(185, 48, 6);
    border-inline-end-color: rgb(185, 48, 6);
    border-inline-start-color: rgb(185, 48, 6);
    box-sizing: border-box;
    caret-color: rgb(185, 48, 6);
    color: rgb(185, 48, 6);
    column-rule-color: rgb(185, 48, 6);
    cursor: pointer;
    overflow-clip-margin: 0px;
    text-align: center;
    text-decoration: none solid rgb(185, 48, 6);
    text-emphasis-color: rgb(185, 48, 6);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(185, 48, 6);
    font: 13px / 19.5px Raleway, sans-serif;
    outline: rgb(185, 48, 6) none 0px;
    overflow: visible;
}/*#IMG_5:before*/

#P_6 {
    block-size: 37.7031px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 37.7031px;
    inline-size: 805.047px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 6.5px;
    margin-block-start: 19.5px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 402.516px 18.8438px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 402.523px 18.8516px;
    user-select: none;
    width: 805.047px;
    border: 0px none rgb(51, 51, 51);
    font: 200 37.7px / 37.7px "Abhaya Libre", serif;
    margin: 19.5px 0px 6.5px;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease 0s;
}/*#P_6*/

#P_6:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    font: 200 37.7px / 37.7px "Abhaya Libre", serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_6:after*/

#P_6:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    font: 200 37.7px / 37.7px "Abhaya Libre", serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_6:before*/

#B_7 {
    border-block-end-color: rgb(94, 90, 89);
    border-block-start-color: rgb(94, 90, 89);
    border-inline-end-color: rgb(94, 90, 89);
    border-inline-start-color: rgb(94, 90, 89);
    box-sizing: border-box;
    caret-color: rgb(94, 90, 89);
    color: rgb(94, 90, 89);
    column-rule-color: rgb(94, 90, 89);
    perspective-origin: 0px 0px;
    text-align: center;
    text-decoration: none solid rgb(94, 90, 89);
    text-emphasis-color: rgb(94, 90, 89);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    user-select: none;
    border: 0px none rgb(94, 90, 89);
    font: 800 37.7px / 37.7px AbhayaLibre-bold;
    outline: rgb(94, 90, 89) none 0px;
}/*#B_7*/

#B_7:after {
    border-block-end-color: rgb(94, 90, 89);
    border-block-start-color: rgb(94, 90, 89);
    border-inline-end-color: rgb(94, 90, 89);
    border-inline-start-color: rgb(94, 90, 89);
    box-sizing: border-box;
    caret-color: rgb(94, 90, 89);
    color: rgb(94, 90, 89);
    column-rule-color: rgb(94, 90, 89);
    text-align: center;
    text-decoration: none solid rgb(94, 90, 89);
    text-emphasis-color: rgb(94, 90, 89);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(94, 90, 89);
    font: 800 37.7px / 37.7px AbhayaLibre-bold;
    outline: rgb(94, 90, 89) none 0px;
}/*#B_7:after*/

#B_7:before {
    border-block-end-color: rgb(94, 90, 89);
    border-block-start-color: rgb(94, 90, 89);
    border-inline-end-color: rgb(94, 90, 89);
    border-inline-start-color: rgb(94, 90, 89);
    box-sizing: border-box;
    caret-color: rgb(94, 90, 89);
    color: rgb(94, 90, 89);
    column-rule-color: rgb(94, 90, 89);
    text-align: center;
    text-decoration: none solid rgb(94, 90, 89);
    text-emphasis-color: rgb(94, 90, 89);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(94, 90, 89);
    font: 800 37.7px / 37.7px AbhayaLibre-bold;
    outline: rgb(94, 90, 89) none 0px;
}/*#B_7:before*/

#P_8 {
    block-size: 31.2031px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 31.2031px;
    inline-size: 805.047px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 19.5px;
    margin-block-start: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 402.516px 15.5938px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 402.523px 15.6016px;
    user-select: none;
    width: 805.047px;
    border: 0px none rgb(51, 51, 51);
    font: italic 200 31.2px / 31.2px "Abhaya Libre", serif;
    margin: 0px 0px 19.5px;
    outline: rgb(51, 51, 51) none 0px;
    transition: all 0.3s ease 0s;
}/*#P_8*/

#P_8:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    font: italic 200 31.2px / 31.2px "Abhaya Libre", serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_8:after*/

#P_8:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(51, 51, 51);
    font: italic 200 31.2px / 31.2px "Abhaya Libre", serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_8:before*/

#P_9 {
    block-size: 123px;
    bottom: 0px;
    box-sizing: border-box;
    float: left;
    height: 123px;
    inline-size: 670.859px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    margin-block-end: 52px;
    margin-block-start: 0px;
    margin-inline-end: 67.0938px;
    margin-inline-start: 67.0938px;
    max-inline-size: 83.3333%;
    max-width: 83.3333%;
    min-block-size: 1px;
    min-height: 1px;
    min-inline-size: auto;
    min-width: auto;
    padding-block-start: 13px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
    perspective-origin: 335.422px 61.5px;
    position: relative;
    right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 335.43px 61.5px;
    user-select: none;
    width: 670.859px;
    flex: 0 0 83.3333%;
    font: 15px / 22px Raleway, sans-serif;
    margin: 0px 67.0938px 52px;
    padding: 13px 15px 0px;
    transition: width 0.2s ease 0s;
}/*#P_9*/

#P_9:after {
    box-sizing: border-box;
    text-align: center;
    text-size-adjust: 100%;
    user-select: none;
    font: 15px / 22px Raleway, sans-serif;
}/*#P_9:after*/

#P_9:before {
    box-sizing: border-box;
    text-align: center;
    text-size-adjust: 100%;
    user-select: none;
    font: 15px / 22px Raleway, sans-serif;
}/*#P_9:before*/

#A_10 {
    block-size: 40.3438px;
    border-block-end-color: rgb(185, 48, 6);
    border-block-end-style: solid;
    border-block-end-width: 1px;
    border-block-start-color: rgb(185, 48, 6);
    border-block-start-style: solid;
    border-block-start-width: 1px;
    border-inline-end-color: rgb(185, 48, 6);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    border-inline-start-color: rgb(185, 48, 6);
    border-inline-start-style: solid;
    border-inline-start-width: 1px;
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    display: block;
    height: 40.3438px;
    inline-size: 124.812px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    padding-block-end: 7.8px;
    padding-block-start: 7.8px;
    padding-inline-end: 15.6px;
    padding-inline-start: 15.6px;
    perspective-origin: 62.4062px 20.1719px;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    transform-origin: 62.4062px 20.1719px;
    user-select: none;
    vertical-align: middle;
    width: 124.812px;
    border: 1px solid rgb(185, 48, 6);
    font: 15.6px / 22.75px "Abhaya Libre", serif;
    outline: rgb(0, 0, 0) none 0px;
    padding: 7.8px 15.6px;
    transition: all 0.2s ease 0s;
}/*#A_10*/

#A_10:after {
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(0, 0, 0);
    font: 15.6px / 22.75px "Abhaya Libre", serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_10:after*/

#A_10:before {
    border-block-end-color: rgb(0, 0, 0);
    border-block-start-color: rgb(0, 0, 0);
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-start-color: rgb(0, 0, 0);
    box-sizing: border-box;
    caret-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-emphasis-color: rgb(0, 0, 0);
    text-size-adjust: 100%;
    user-select: none;
    border: 0px none rgb(0, 0, 0);
    font: 15.6px / 22.75px "Abhaya Libre", serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_10:before*/

